/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
.navbar{
  z-index: 3;
}
#home{
  background-image:url(../images/big-image-books.webp) ;
  height: 400px;
}
.hover-scale:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
